<!DOCTYPE HTML>
<html>
	<head>
		<title>Maksim Kudaev</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/styles.css" />
		<noscript><link rel="stylesheet" href="static/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Добро пожаловать!</a></li>
							<li><a href="#one">Кто я?</a></li>
							<li><a href="#two">Что я делаю?</a></li>
							<li><a href="#three">Связаться со мной.</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Добро пожаловать!</h1>
							<p>Приветствую на своём сайте-визитке. Тут вы узнаете всё обо мне, а<br/>
							 также сможете связаться со мной.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Узнать подробнее</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Давайте знакомится.</h2>
									<p>Меня зовут Максим и я разработчик-автоматизатор. В IT-сфере я порядка 5 лет: Занимался и занимаюсь разработкой сайтов,
									мобильных прилдожений, автоматизирую тестирование, автоматизирую различные бизнес-процессы. Помимо разработки я тестирую ПО,
									как front, так и back.</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Про мои качества:</h2>
									<p>- Коммуникабельный<br> - Стресоустойчивый <br> - Внимательный <br> - Трудолюбивый <br>
									- Быстрообучаемый</p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Мои хобби:</h2>
									<p>- Почитать различные статьи <br> - ЛФК <br> - Спорт <br> - Вкусно покушать <br> - Читать книги</p>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Что я могу делать?</h2>
							<p>Ниже оставлю подробную табличку о моих навыках и знаниях:</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Тестирование</h3>
									<p>Тестирование frontend(Сложная логика, ui/ux, usability), backend(Работа с БД, sql, API, Rest, Soap, знание HTTP и других протоколов).</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Автоматизация тестирования</h3>
									<p>Написание тестов на python в связке с selenium + pytest, в добавок использую allure-отчёты. Написание тестовых фреймворков с нуля или поддержка уже сущестуюшего.
									Написание тестов для rest'ов на postman или с помощью python + requests.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Front-end разработка</h3>
									<p>Отличные знания вёрстки (html, css, блочная вёрскта, адаптивная вёрстка, препроцессоры css). JS на среднем уровне, также использую фреймворк Vue.js.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Back-end разработка</h3>
									<p>Разработка бизнес-логики на Python использую фреймворки Flask или Django. Написание api на flask или через Django Rest Framework под Django. Работа с SMTP и т.д.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Мобильная разработка</h3>
									<p>Создание мобильных приложений с помощую react native (Под ios и android). Загрузка приложений в маркеты.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Разработка ПО</h3>
									<p>Создание standalone приложений под windows, mac и linux. Использую технологии: PyQt5 + python</p>
								</section>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Связаться со мной</h2>
							<p>Просто заполните форму ниже и отправьте её.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Имя</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Ваша почта</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Сообщение</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Отправить</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Мой адрес</h3>
											<span>Всемирная паутина</span>
										</li>
										<li>
											<h3>Моя почта</h3>
											<a href="#">maxim.cudaew@gmail.com</a>
										</li>
										<li>
											<h3>Мой номер телефона</h3>
											<span>+7919*******</span>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Типо все права защищены.</li><li>Шаблончик взял тут: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>